* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  line-height: 1.5;
}
.b_rds_5{
  border-radius: 5px !important;
}
.b_rds_10{
  border-radius: 10px !important;
}
.b_rds_15{
  border-radius: 15px !important;
}
.b_rds_20{
  border-radius: 20px !important;
}
.fw-600{
  font-weight: 600 !important;
}
.fw-800{
  font-weight: 800 !important;
}
.fw-900{
  font-weight: 900 !important;
}
.fs-18{
  font-size: 1.5em;
}
/* .font_Nunito_Sans{
  font-family: 'Nunito Sans', sans-serif;
} */

.font_oppins {
  font-family: "Poppins", serif !important;
}

a {
  color: rgba(5, 32, 42, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
img{
  max-width: 100%;
}
/* a:not([href]):not([tabindex]) {
  color: rgba(255, 255, 255,1);
}

a:not([href]):not([tabindex]):focus, 
a:not([href]):not([tabindex]):hover {
  color: rgba(255, 255, 255,1); 
} */
.max-w-100{
  max-width: 100%;
}

.overflow_auto{
  overflow: auto;
}
.overflow_x_auto{
  overflow-x: auto;
}
.overflow_y_auto{
  overflow-y: auto;
}
.back_cover{
  background-size: cover !important;
}
.back_contain{
  background-size: contain !important;
}
.back_center{
  background-position: center !important;
}
.back_left{
  background-position: left !important;
}
.back_right{
  background-position: right !important;
}
.back_top{
  background-position: top !important;
}
.back_bottom{
  background-position: bottom !important;
}
/* .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} */

@media (min-width: 1300px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1200px;
  }
}
/* / ========== / */
.nav-toggle::before{
  display: none;
}
.awrds_section {
  padding: 30px 0px;
  background-color: #ffffff;
  .awrds_section_list {
    width: 100%;
    display: inline-flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    li {
      margin: 10px;
      img {
        max-height: 110px;
        max-width: 100%;
      }
    }
  }
}
footer {
  padding-top: 10px;
  background-color: #001431;
  hr {
    border-color: #fff;
    opacity: 1;
  }
  .footerbtm {
    margin-bottom: 30px;
    h4 {
      font-size: 2.6rem;
      font-weight: 500;
      color: #fff;
    }
    .links {
      font-size: 1.7rem;
      font-weight: 300;
      list-style: none;
      padding: 0px;
      /* margin-top: 25px; */
      li {
        margin: 10px 0px;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .google_ratings_bg {
    margin: 10px auto;
    background: #ffffff;
    border-radius: 20px;
    padding: 10px;
  }
  .footer_social_links {
    a {
      color: #fff;
      text-decoration: none !important;
      margin: 5px;
      font-size: 2rem;
    }
  }
  .copright_sec {
    padding: 10px 0px;
    p {
      font-size: 1.5rem;
      color: #fff;
    }
    .term_section {
      .links {
        font-size: 1.8rem;
        margin: 0px;
        li {
          color: #fff;
          display: inline-flex;
          margin-bottom: 5px;
          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }

      .polices {
        font-size: 1.5rem;
        color: #fff;

        li a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
    .ftr_hr_area {
      color: #fff;
      a {
        text-decoration: none;
        font-size: 1.5rem;
      }
    }
  }
}


.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  font-size: 1.4rem; 
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  left: -100%;
  top: 0px;
  transition: all 0.5s;
}


.btn{
  font-size: 1.6rem;
  padding-top: 7px;
  padding-bottom: 7px;
}
.btn.btn-sm{
  font-size: 1.2rem;
  padding-top: 5px;
  padding-bottom: 5px;
}
.btn.btn-md{
  font-size: 1.6rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-lg{
  font-size: 2rem;
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn-rounded{
  border-radius: 25px;
}

 

.btn:hover {
  scale: 1.05;
}

.btn:hover::after {
  left: 100%;
  transition: all 0.5s;
}

.btn-dark,
.btn-dark:hover {
  background-color: #001431 !important;
  border-color: #001431 !important;
  color: #ffffff;
}
.btn-danger,
.btn-danger:hover {
  background-color: #FF492C !important;
  border-color: #FF492C !important;
  color: #ffffff;
}
.btn-primary,
.btn-primary:hover {
  background-color: #004489 !important;
  border-color: #004489 !important;
  color: #ffffff;
}
.btn_primary,
.btn_primary:hover {
  background-color: #004489;
  border-color: #004489;
  color: #ffffff;
}
.btn-outline-primary::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-outline-primary {
  background-color: transparent !important;
  border-color: #004489 !important;
  color: #004489 !important;
}
.btn-outline-primary:hover {
  background-color: #004489 !important;
  border-color: #004489 !important;
  color: #ffffff !important;
}

.btn-outline-light {
  background-color: transparent !important;
  border-color: #ffffff !important;
  color: #ffffff !important;
}
.btn-outline-light:hover {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #00142F !important;
}

.btn_outline_light,
.btn_outline_light:hover {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

.btn_outline_primary,
.btn_outline_primary:hover {
  background-color: transparent;
  border-color: #004489;
  color: #004489;
}

.btn_outline_dark_primary,
.btn_outline_dark_primary:hover {
  background-color: transparent;
  border-color: #001431;
  color: #001431;
}
.btn_dark_primary,
.btn_dark_primary:hover {
  background-color: #001431;
  border-color: #001431;
  color: #ffffff;
}

.btn-primary-gradient,
.btn-gradient-primary,
.btn-primary-gradient:hover,
.btn-gradient-primary:hover{
  background: linear-gradient(244.35deg, #001123 -28%, #004489 66.22%);
  border-color: #004489;
  color: #ffffff;
  border: 1px solid;
}
.btn_thick_bdr{
  border: 5px solid #01458E;
}
.bg_azure{
  background: #EBF1F5 !important;
}
.bg_dark{
  background: #001431 !important;
}
.bg_dark_gradient{
  background: linear-gradient(244.35deg, #001123 -28%, #004489 66.22%) !important;
}

.form-group{
    label.form-label{
      font-size: 12px;
      font-weight: 600;
      color: #ffffff;
      text-transform: capitalize;
    }
    .form-control,
    .form-select{
      border: 0px !important;
      color: #000;
      border-radius: 15px;
      font-size: 1.6rem;
        &::placeholder {
          color: #000000;
          opacity: 0.5;
        }                  
        ::-ms-input-placeholder {
            color: #000000;
        }
    }
  input.form-control,
  select.form-select{
        height: 40px;
        
    }
    .choose_file{
        background-color: #ffffff;
        display: flex;
        position: relative;
        overflow: hidden;
        height: 40px;
        border-radius: 15px;
        padding: 5px 5px 5px 20px;
        .choose_file_wrapper{
            position: relative;
            overflow: hidden;
            width: 100%;
            input[type="file"] {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -95px;
                outline: none !important;
                box-shadow: none !important;
            }
            .choose_file_label{
                background: #ffffff;
                border-radius: 10px;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
.navigation .btn-danger{
  position: relative;
  overflow: visible;
  margin-right: 20px;
  @media (max-width: 768px) {
    margin-right: 0px;
  }
  &::after{
    display: none !important;
  }
  &::before{
    content: '';
    width: 10px;
    height: 10px;
    background-image: url('../images/icons/chevron_down.webp');
    background-size: contain;
    background-repeat: no-repeat;
    right: -16px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    @media (max-width: 768px) {
      display: none;
    }
  }
}
.homeSection1 {
  padding-top: 30px;
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, .5)
    ),
    url("./../images/banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
}


.case_study_list_card{
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  margin-top: 30px;
  /* height: 100%; */
  img.work-img{
      border-radius: 20px;
      height: 100%;
      max-width: 100%;
  }
  .case_study_list_card_cntnt{
      /*max-width: 180px; */
      width: 100%;
      text-align: right;
      margin-left: auto;
      padding: 15px;
      position: relative;
      .logo_bar{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 150px;
          height: 50px;
          background-color: #fff;
          text-align: start;
          padding: 5px 10px;
          border-radius: 15px 0px 0px 15px;
          margin-left: auto;
          margin-right: -15px;
          margin-bottom: 15px;
          img{
              max-height: 40px;
              max-width: 100%;
          }
          span{
              font-size: 10px;
              font-weight: 600;
          }
      }
      p{
          font-size: 14px;
          font-weight: 500;
          color: #ffffff;
      }
      .read_more_btn{
        /* position: absolute; */
          /* left: 50%;
          transform: translateX(-50%); */
          bottom: 10px;
          background: #FFFFFF;
          width: 100px;
          height: 25px;
          border-radius: 24px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          font-weight: 600;
          text-decoration: none !important;
          line-height: 1;
          margin-left: auto;
          margin-top: 25px;
          color: #001431;
      }
  }
  @media only screen and (max-width: 767px) {
      .case_study_list_card_cntnt{
          text-align: center;
          .read_more_btn{
              margin:  0px auto;
          }
      }
  }
}


.innovation_meets{
  position: relative;
  padding-top: 75px;
  .imr_top{
    max-width: 200px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .imr_btm{
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 0;
  }
  .whfw_card_list{
    position: relative;
    z-index: +1;
  }
}

.about_corner_content{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 0px 0px 50px 0px;
}
.section_padding{
  padding: 40px 0px;
}
.our_journey{
  .our_journey_card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    min-height: 150px;
    width: 100%;
    background: #00142F;
    border-radius: 20px;
  }
  .our_journey_card_bg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    min-height: 150px;
    width: 100%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
  }
}

.testament_excellence{
  background-color: #EBF1F5;
}
.about_award_bg{
  padding: 20px;
  background: #FFFFFF;
  border-radius: 40px;
}
.our_business_modal{
  background-color: #00142F;
  .our_business_modal_card{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 175px;
    border-radius: 20px;
    img{
      max-height: 50px;
      max-width: 100%;
    }
    .btn{
      margin: 5px;
    }
    .btn-outline-primary:hover {
      background-color: #004489 !important;
      border-color: #004489 !important;
      color: #ffffff !important;
    }
    .btn-outline-light:hover {
      background-color: #00142F !important;
      border-color: #00142F !important;
      color: #ffffff !important;
    }
  }
  .our_business_modal_card.light_bg{
    background: #FFFFFF;
  }
  .our_business_modal_card.dark_bg{
    background: #004489;
  }
}

.craft_future{
  position: relative;
  background: url('../images/shapes/craft_future_bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  .craft_future_img img{
    border-radius: 20px;
  }
}

.pillars_our_success{
  background: url('../images/about/management_team_bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50pxm 0px;
  .pillars_our_success_card{
    background: #00142F;
    padding: 10px;
    height: 110px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    img{
      max-height: 60px;
      margin-right: 10px;
    }
  }
}




.webo_form_sec{
  background-image: url('../images/webo_form_bg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.webo_form_sec,
.webo_contact_form_sec{
  form{
    background: rgba(0, 20, 49, 0.2);
    padding: 25px;
    border-radius: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .webo_form_sec form{
      padding: 10px;
  }
  .contact_details{
    /* background: linear-gradient(90deg, #00458E 0%, #001431 100%); */
    padding: 20px;
  }
}

.contact_details{
  padding: 20px;
  .contact_details_list_card{
      /* margin: 15px auto;     */
      color: #001431;
      background: rgba(255, 255, 255, 1);
      border-radius: 16px;
      padding: 10px 20px;
      height: 85px;
      display: flex;
      align-items: center;
      img{
          max-height: 2.5rem;
          max-width: 2.5rem;
      }
      a{
        text-decoration: none;
      }
  }
}
@media only screen and (max-width: 767px) {
  .contact_details {
      .contact_details_list_card {
          padding: 10px 10px;
          height: auto;
      }
  }
  .footer-social-links,
  .term-section{
      text-align: center;
  }
}
.webo_form_sec{
  .schedule_call_btn{
  background: #ffffff;
  color: #001431;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 30px;
  }
}


/* ============ */
.management_team{
  background-image: url('../images/about/management_team_bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.meet_our_leader{
  background-image: linear-gradient(to right, rgba(1, 69, 142, 0.3), rgba(1, 69, 142, 0.3)), url('../images/about/management_team_bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.management_team_card{
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 37px -2px #1118270D;
  img{
    height: 250px;
    /* max-height: 300px; */
    width: 100%;
    object-fit: cover;
    object-position: top;
    margin: 0 auto;
    display: block;
    border-radius: 20px 20px 0px 0px;
  }
  .management_team_content{
    min-height: 75px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004489;
    text-align: center;
    border-radius: 20px;
    color: #ffffff;
    position: relative;
    margin-top: -20px;
  }
}  

.our_team_card{
  text-align: center;
  border-radius: 20px;
  color: #ffffff;
  position: relative;
  .our_team_img{
    background: linear-gradient(180deg, #EBF1F5 8.6%, #EBF1F5 28.1%, #898D8F 100%);
    box-shadow: 0px 4px 200px 0px #0000001A;
    border-radius: 20px;
    img{
      border-radius: 20px;
    }
  }
  .team_leader_content{
    min-height: 75px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    text-align: center;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 4.05px 13.51px 0px #40189D26;
    h5,h6{
      color: #001431;
    }
  }
}
/* ================== */
.wcla_{
  background: url('../images/about/wcla_bg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  img{
    border-radius: 20px;
  }
}
.wcla_content_card{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 50px 50px 0px 50px;
  ul li{
    margin: 5px 0px;
  }
}
/* ================ */

.testimonial_video_card video{
  width: 100%;
  max-height: 350px;
}
/* ===================== */
.view_all_button{
  width: 150px;
  height:45px;
  padding: 10px 25px;
  border: 1px solid #000000 !important;
  text-decoration: none;
}
.arrow_nav_slider {
    .owl-dots{
      margin-top: 0px;
    } 
  .owl-theme .owl-dots
  .owl-dot span {
    width: 20px;
    height: 5px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 5px;
  }
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span{
    background: #001431;
  }
  .owl-nav {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
  }
  .owl-nav button.owl-next, 
  .owl-nav button.owl-prev{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000000;
    border-radius: 50%;
    i.bi{
      font-size: 20px;
      color: #000000;
    }
  }
  .owl-nav [class*=owl-]:hover {
    background: transparent;
    i{
      color: #000000;
    }
  }

}

@media screen and (width > 600px) {
  .arrow_nav_slider{
    .owl-dots{
      margin-top: -40px;
    } 
    .owl-nav {
      gap: 12rem;
    }
  }
}

/* ====================== */
.our_story{
  background: #00142F;
  .img_content{
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
  }
  .story_year{
    position: relative;
    .dot{
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: block;
      background-color: #ffffff;
      bottom: -30px;
      &::after{
        content: '';
        position: absolute;
        width: 80px;
        height: 80px;
        left: 50%;
        transform: translateX(-50%);
        top: 25px;
        background-image: url('../images/shapes/half_ellipse.webp');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    
  }
  .story_year>div{
    box-shadow: 0px 0px 37px -2px #11182726;
    margin: 0 auto;
    width: 25rem;
    height: 25rem;
    border-radius: 50%  ;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00142F;
    position: relative;
    margin-bottom: 100px;
    &::after{
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      background: linear-gradient(180deg, #00142F 0%, rgba(0, 20, 47, 0) 57.65%, #00142F 115.31%);
    }
    
  }

  .our_story_slider {
    position: relative;
    .owl-dots{
      position: relative;
      width: auto;
      .owl-dot{
        display: inline-block;
        span{
          height: 10px;
          width: 30px;
          background: #00448A;
        }
      }
      .owl-dot.active{
        display: inline-block;
        span{
          background: #FFFFFF;
        }
      }
    }
  }
}
@media screen and (width > 767px) {
 .our_story .our_story_slider {
    position: relative;
    .owl-dots{
      position: absolute;
      width: 35px;
      height: 10px;
      top: 50%;
      transform: translateY(-50%);
      .owl-dot{
        display: block;
        span{
          height: 30px;
          width: 10px;
        }
      }
      .owl-dot.active{
        display: block;
      }
    }
  }
}

.csd_banner{ 
  background: radial-gradient(50% 50% at 50% 50%, #744ACC 0%, rgba(116, 74, 204, 0.9) 100%);
  position: relative;
}
.over_banner{
  position: relative;
  z-index: +1;
  margin-top: -125px;
  background-color: transparent;
  .over_banner_card{
    height: 125px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 32px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px 0px #bdbdbd;
  }
}
.app_status{
  box-shadow: 0px 16px 32px 0px #6D46BD0D;
  border-radius: 30px;
}
.how_does_work{
  box-shadow: 0px 16px 32px 0px #6D46BD0D;
  border-radius: 30px;
}
/* ================ */
.project_objectives{
  background-color: #F9F9F9;
}
.project_objectives_card,
.outcome_card{
  border: 1px solid #00458E;
  padding: 20px;
  border-radius: 20px;
}
.solution_implementation{
  background-color: #F9F9F9;
}
/* ======================= */

.case_study_mob_slider_bg{
  background-image: url('../images/case-studies/details/case_study_mob_slider_bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  img{
    border-radius: 12px;
  }
}
.testimonials{
  background-color: #EEF4FA;
  .client_info{
    text-align: center;
    img{
      width: 250px !important;
      height: 250px !important;
      margin: 0 auto;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
      margin-bottom: 30px;
    }
  }
  .client_words{
    margin-top: 55px;
    background-color: #ffffff;
    padding: 50px 20px;
    border-radius: 10px;
    position: relative;
    span{
      position: absolute;
      left: 10px;
      top: -60px;
      img{
        width: 100px;
        height: 100px;
      }
    }
  }

  .owl-theme .owl-dots .owl-dot.active span, 
  .owl-theme .owl-dots .owl-dot:hover span {
      background: rgba(0, 69, 142, 1);
  }
  .owl-theme .owl-dots .owl-dot span {
      width: 24px;
      height: 4px;
      margin: 5px 7px;
      background: rgba(0, 69, 142, 0.26);
      border-radius: 30px;
  }
}
/* ======================= */

.webo_contact_form_sec{
  background-image: url('../images/contact_us/webo_contact_form_sec_bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .contact_details{
      background-image: url('../images/contact_us/contact_details_bg.webp');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      padding: 15px 30px;
      border-radius: 20px;
    .contact_details_content{
      background: #00448B;
      border-radius: 20px;
      padding: 20px;
      .contact_details_card{
        color: #ffffff;
        a{
          color: #ffffff;
          text-decoration: none;
          margin: 10px auto;
        }
      }
    }
  }
}
.our_global_presence{
  background: #EBF1F5;
  .our_global_presence_img_card{
    position: relative;
    img{
      border-radius: 20px;
    }
    .headquarter{
      position: absolute;
      left: 20px;
      top: 20px;
    }
    .our_global_presence_content{
      padding: 20px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}
.thankyou{
  background-image: url('../images/contact_us/thankyou_bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 650px;
  position: relative;
  .thankyou_content{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    img{
      max-width: 150px;
    }
  }
}

.blogs_card{
  margin: 10px auto;
  background: #ffffff;
  &:hover{
    background: #F5F5F5;
    box-shadow: 8px 11px 8.4px 0px #00000040;
  }
  img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .blogs_card_content{
    padding: 10px;
    small{
      color: rgba(40, 41, 56, 0.7);
    }
    h4{
      color: rgba(40, 41, 56, 1);
      height: 65px;
      overflow: hidden;
    }
    p{
      color: rgba(40, 41, 56, 0.7);
      height: 65px;
      overflow: hidden;
    }
    a{
      text-decoration: none;
      color: #01458E;
    }
  }
}
.stay_up_to_date{
  background-image: url('../images/pg_bnr/stay_up_to_date_bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  form .form-control,
  form .btn{
    height: 40px;
  }
}


.blogs_filter_buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  button{
    scale: .95 ;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    font-size: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0px 6.05px 20.16px 0px #40189D26;
    border: 0px;
    color: #004489;
    font-weight: 600;
  }
}
.slides_btn {
  display: none;
}
.active {
  display: block;
}

.blog_details_img_card{
  background: #F5F5F5;
}
.blog_details_content{
  .webo_logo{
    width: 70px;
    height: 70px;
    background: #01458E;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    img{
      max-width: 50px;
    }
  }
  .badge{
    background: #F2F2F2;
    color: #292929;
    padding: 8px 10px;
    border-radius: 15px;
  }
}
.likes_cmnt_card{
  box-shadow: 0px 0px 12.22px 0px #0000001A;
  max-width: 203px;
  min-width: 100px;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comments_card{
  padding: 6px 12px;
  gap: 5px;
  border-radius: 12px;
  box-shadow: 0px 0px 12.22px 0px #0000001A;
  background: #FFFFFF;  
  .user{
    width: 50px;
    text-align: center;
  }
}


.latest_blogs_container{
  max-width: 400px;
  width: 100%;
  padding: 0px 20px 20px 20px;
}
.social_links_share_card{
  box-shadow: 0px 0px 12.22px 0px #0000001A;
  padding: 10px;
  border-radius: 12px;
  .social_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    a{
      display: inline-flex;
      width: 40px;
      align-items: center;
      justify-content: center;
      color: #01458E;
    }
  }
}
.side_latest_blog_card{
  img{
    height: 100px;
    object-fit: cover;
    object-position: center;
  }
  a{
    text-decoration: none;
  }
}


.saas_development_banner{
  background-image: linear-gradient(to right, rgba(0, 20, 49, 0.5), rgba(0, 20, 49, .5)),url('../images/saas_development/saas_development_bg.webp');
  background-position: center;
  background-size: cover;
  min-height: 500px;
  display: flex;
  align-items: center;
}
.op_bg{
  background-image: url('../images/pg_bnr/saas_development.webp');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.benefits_saas_development{
  position: relative;
  overflow: hidden;
  &::after{
    content: '';
    position: absolute;
    right: -120px;
    bottom: -100px;
    width: 500px;
    height: 500px;
    background-image: url('../images/shapes/bsd_shapes.webp');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    transform: rotate(-75deg);
  }
}
.bsd_card{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* width: 282px; */
  min-height: 150px;
  padding: 20px;
  border-radius: 20px;
  border: 1px 0px 0px 0px;
  border: 1px solid #000000;
  box-shadow: 0px 0px 37px -2px #1118270D;  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;
}
.bsd_card.dark{
  background-image: linear-gradient(244.35deg, #001123 -28%, #004489 66.22%);
  color: #ffffff;
}
.bsd_rnd2_img{
  width: 100%;
  height: 450px;
  display: flex;
  align-items: flex-start;
  position: relative;
  .logos{
    width: 100px;
    height: 100px;
    background: linear-gradient(244.35deg, #001123 -28%, #004489 66.22%);
    border: 3px solid #ffffff;
    padding: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
  }
}
@media (max-width: 768px) {
  .bsd_rnd2_img {
    height: auto;
  }
}

.innovation_with_enterprise{
  position: relative;
  overflow: hidden;
  &::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -100px;
    width: 400px;
    height: 400px;
    background-image: url('../images/shapes/iwe_shapes_.webp');
    background-size: contain;
    background-repeat: no-repeat;
    /* transform: rotate(-75deg); */
  }
  .innovation_with_enterprise_card{
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 8.9px 0px #00458E4D;
    background: #ffffff;
    text-align: center;
    height: 100%;
    color: #000;
    h4{
      /* height: 60px; */
      margin-bottom: 10px;
    }
    &:hover{
      color: #ffffff;
      background: linear-gradient(244.35deg, #001123 -28%, #004489 66.22%);
    }
  }
}


.mpysf{
  /* background-image: url('../images/blocks.webp'); */
  background-color: #01458E;
  background-position: center;
  background-size: 700px 700px;
  background-repeat: repeat;
  .mpysf_card{
    color: #ffffff;
    border: 1px solid #ffffff;
    /* background: #ffffff; */
    height: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &:hover{
      /* color: #00448A;
      background: linear-gradient(244.35deg, #ffffff -28%, #ffffff 66.22%); */
    }
  }
}


.osd_process{
  background: #EBF1F5;
  overflow: hidden;
  position: relative;
  .osd_process_card{
    border: 5px solid #001123;
    height: 130px;
    padding: 20px;
    border-radius: 20px;
    /* background: #EBF1F5; */
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    &:hover{
      border: 5px solid #004489;
      background: linear-gradient(244.35deg, #001123 -28%, #004489 66.22%);  
      color: #ffffff;    
    }
  }
  &::after{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;
    background: radial-gradient(50% 50% at 50% 50%, #004489 23.1%, #EBF1F5 100%);
  }
  .osd_process_container{
    z-index: +9;
    position: relative;
  }
}

._sd_process_{
  position: relative;
  text-align: center;
  ._sdp_logos{
    span{
      background: linear-gradient(244.35deg, #001123 -28%, #004489 66.22%);
      border: 3px solid #ffffff;
      padding: 15px;
      border-radius: 50%;      
      width: 120px;
      height: 120px;  
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: +2;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%); 
    }   
  }
}
@media screen and (width < 500px) {
  ._sd_process_ ._sdp_logos span{    
    width: 90px;
    height: 90px;
  }  
}

@media screen and (width < 350px) {
  ._sd_process_ ._sdp_logos span{    
    width: 70px;
    height: 70px;
  }  
}


/* ================== */
.mobile_app_development{
  background-image: linear-gradient(to right, rgba(0, 20, 49, 0.5), rgba(0, 20, 49, .5)), url('../images/mob_app_devl/mob_app_devl_banner.webp');
  background-position: center;
  background-size: cover;
  min-height: 500px;
  display: flex;
  align-items: center;
}
.vsai_{
  background-image: url('../images/bg.webp');
  background-position: center;
  background-size: cover;
  .vsai_card{
    background: #FFFFFF;
    box-shadow: 0px 6px 20px 0px #40189D14;
    padding: 10px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    span{
      width: 70px;
      margin-right: 5px;
    }
    img{
      width: 60px;
      height: 60px;
    }
  }
}

.pg_bnr{
  background-position: center;
  background-size: contain;
  background-position: right;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pg_bnr.bg-white.back_cover{
  background-position: left;
}
.tyir_{
  background-image: linear-gradient(to right, #01458E 50%, rgba(0, 20, 49, 0)), url('../images/tyir_bg.webp');
  background-position: center;
  background-size: cover;
}
.tyir_.bg-white{
  background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.75)), url('../images/tyir_bg.webp');
  background-position: center;
  background-size: cover;
}
.crafting_excellence{
  position: relative;
  overflow: hidden;
  &::after{
    content: '';
    position: absolute;
    left: -120px;
    bottom: -100px;
    width: 500px;
    height: 500px;
    background-image: url('../images/shapes/bsd_shapes.webp');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
  }
}
.crafting_excellence_card{
  position: relative;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8.9px 0px #00458E4D;
  color: #00142F;
  h4{
    /* height: 50px; */
    margin-bottom: 10px;
  }
  &:hover{
    background: linear-gradient(244.35deg, #001123 -28%, #004489 66.22%);    
    color: #ffffff;
  }
}
.advantages_options{
  padding: 10px;
  border-radius: 20px 100px 20px 0px;
  border: 3px solid #004489;
  border-radius: 20px 20px 0px 20px;
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover{
    background: linear-gradient(244.35deg, #001123 -28%, #004489 66.22%);
    color: #ffffff;
    border: 3px solid #004489;
  }
}
.our_advantages_card{
  padding: 20px;
  border-radius: 20px 100px 20px 0px;
  border: 3px solid #004489;
}
.maintenance_support_banner{
  background-image: linear-gradient(to right, rgba(1, 69, 142, 0.8), rgba(1, 69, 142, 0.8)), url('../images/maintenance/maintenance_support_banner_bg.webp');
  background-position: center;
  background-size: cover;
  min-height: 500px;
  display: flex;
  align-items: center;
}
.why_webo_option{
  height: 80px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #00458E4D;
  box-shadow: 0px 4px 8.9px 0px #00458E4D;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wondering_collaboration{
  background: #000000;
}
.our_power_card{
  height: 130px;
  padding:10px;
  border-radius: 20px 0px 20px 20px;
  background: #FFFFFF;
  border: 1px solid #00448A;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00448A;
  img.light{
    display: none;
    max-height: 40px;
  }
  img.dark{
    display: block;
    max-height: 40px;
  }
  &:hover{
    background: #00448A;
    color: #ffffff;
    img.light{
      display: block;
    }
    img.dark{
      display: none;
    }
  }
}
.flex_card{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 4px 8.9px 0px #00458E4D;
  border-radius: 15px;
}

.native_hybrid_nav .nav-link,
.portfolio_ .nav-pills .nav-link{
  border: 1px solid #00458E;
  width: 125px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  margin: 5px;
  font-size: 1.6rem;
  color: #01458E;
  &.active{
    background-color: #00458E;
    color: #ffffff;
  }
}

.webo_testimonials{
  ul.nav .nav-item .nav-link{
    width: 185px;
    height: 75px;
    padding: 10px;
    border-radius: 10px;
    background: #FFFFFF;
    /* box-shadow: 0px 6.05px 20.16px 0px #40189D26;  */
    border: 2px solid #ffffff;   
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &.active{
      border: 2px solid #000000;
    }
    img{
      max-width: 150px;
      border-radius: 10px;
    }
  }
}



.testimonial_txt_card{
  background-color: #001431;
  height: 300px;
  width: 100%;
 height: 100%;
  margin-bottom: 15px;
  padding: 15px;
  .client_bio{
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #ffffff;
      .client_img {
          margin-right: 10px;
          img{
              width: 60px;
              height: 60px;
              object-fit: cover;
              object-position: center;
              border-radius: 50%;
          }
      }
      h4{
          font-size: 15px;
          font-weight: 700;
      }
      h5{
          font-size: 12px;
          font-weight: 400;
      }
  }
  .client_words{
      margin-top: 10px;
      padding: 5px 50px;
      position: relative;
      text-align: center;
      span.quotes{
          position: absolute;
          top: 0px;
          left: 0;
          width: 40px;
          height: 40px;
      }
      span.quotes.quotes_rev{
          left: auto;
          top: auto;
          bottom: 0px;
          right: 0;
      }
      p{
          font-size: 15px;
          font-weight: 400;
          color: #ffffff;
      }
      
      
  }
}

.javascript_frmwrk_banner,
.python_framework_banner{
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 20, 49, 0.25)), url(../images/javascript_frm/javascript_frmwrk_bg.webp);
  background-position: center;
  background-size: cover;
  min-height: 500px;
  display: flex;
  align-items: center;
}
.php_framework_banner{
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 20, 49, 0.25)), url(../images/php_framework/php_framework_bg.webp);
  background-position: center;
  background-size: cover;
  min-height: 500px;
  display: flex;
  align-items: center;
}

.technologies_frameworks{
  background-image: url('../images/blocks.webp');
  background-position: center;
  background-size: 700px 700px;
  background-repeat: repeat;
  .vertical_tab_nav{
    .nav-item {
      /* margin-bottom: 2rem; */
      width: 100%;
    }
    .nav-link {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 15px;
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      color: #000;
      margin-bottom: 5px;
      text-align: left;
      width: 100%;
      min-height: 45px;
      font-size: 1.7rem;
      border-radius: 1.5rem;
      -webkit-border-radius: 1.5rem;
      -moz-border-radius: 1.5rem;
      -ms-border-radius: 1.5rem;
      -o-border-radius: 1.5rem;
      &.active {
        background-color: #0056b3;
        color: #fff;
        font-weight: bold;
      }
      i {
        margin-right: 10px;
        font-size: 3rem;
      }
    }
  }

}
.talk_our_experts{
  background: linear-gradient(to right, rgb(0, 0, 0)40%, rgba(0, 0, 0, .6)100%), url('../images/javascript_frm/talk_our_experts_bg.webp');
  background-position: right;
  background-size: contain;
  /* background-repeat: no-repeat; */
  display: flex;
  align-items: center;
}

.mob_app_framework_banner{
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 20, 49, 0.25)), url(../images/mobile_app_framework/mob_app_framework_bg.webp);
  background-position: center;
  background-size: cover;
  min-height: 500px;
  display: flex;
  align-items: center;
}
.google_ratings_card{
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 10px;
  font-weight: 600;
  /* margin: 3px; */
  height: 100%;
  width: 180px;
  .d-flex{
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
  }
  a{
    text-decoration: none !important;
    color: #000000 !important;
  }
  img{
    max-height: 50px;
    width: auto !important;
    margin: 0 auto;
    display: block;
  }
}

.homeSection1 .google_ratings_card{
  /* width: auto; */
  border-radius: 0px;
  border: 0px;
}
.hire_dedicated_resources{
  .google_ratings_card{
    border-radius: 0px;
  }
}

.our_team_banner {
  padding-top: 30px;

  background-image: linear-gradient(270.17deg, rgba(255, 255, 255, 0) 0.15%, rgba(255, 255, 255, 0.7) 41.47%),
    
    url("./../images/banner.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
}
.our_team{
  background: #EBF1F5;
  .our_team_card{
    position: relative;
    img{
      border-radius: 20px;
      width: 100%;
    }
    .teammates_img{
      border-radius: 20px;
      width: 100%;
      position: relative;
      overflow: hidden;
      &::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        left: 0;
        top: 0;
      }
    }
    .teammates_details{
      background-color: rgba(255, 255, 255, 1);
      border-radius: 20px;
      width: 100%;
      text-align: center;
      padding: 10px;
    }
  }
}

.hire_dedicated_resources{
  padding-top: 30px;
  background-image: linear-gradient(0deg, rgba(0, 69, 142, 0.5), rgba(0, 69, 142, 0.5)),url("./../images/banner.webp");
    background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: -2;
  ul{
    margin-top: 20px;
    li{
      margin-top: 10px;
    }
  }
}
.best_dedicated_developers{
  .our_power_card{
    padding: 10px;
    height: 100px;
    color: #004489;
    &:hover{
      color: #ffffff;
    }
  }
}

.why_hire_from_weboconnect{
  background-image: url("./../images/hire_dedicated/why_hire_from_weboconnect.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  z-index: -2;
  
}
.whfw_card{
  max-width: 300px;
  min-height:125px;
  padding: 20px 20px 30px 20px;
  border-radius: 20px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 0px 0px 37px -2px #1118270D;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    height: 50px;
    max-width: 100px;
    margin-right: 15px;
  }
}
.whfw_card_list{
  list-style: none;
  li:nth-child(odd){
    margin-top: 10px;
    .whfw_card{
      margin-right: auto;
      margin-left: 0px;
    }
  }
  li:nth-child(even){
    margin-top: 10px;
    .whfw_card{
      margin-left: auto;
    }
  }
}


.sphdd_{
  position: relative;
  min-height: 500px;
  &::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-image: url('../images/shapes/sphdd.webp');
    background-size: 1100px 550px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .sphdd_container{
    position: relative;
    z-index: +9;
  }
  .sphdd_card{
    box-shadow: 0px 0px 37.15px -2.01px #00458E4D;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
    span{
      color: #00458E;
      margin: 0;
    }
    strong{
      color: #00458E;
      opacity: .3;
      margin: 0;
    }
    p{
      margin: 0px;
    }
  }
}

.quote_calculator{
  background: #EBF1F5;
  position: relative;
  min-height: 600px;
  &::before{
    content: '';
    position: absolute;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('../images/shapes/qc.webp');
    background-size: contain;
    background-repeat: no-repeat;
  }
  &::after{
    content: '';
    position: absolute;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
    background-image: url('../images/shapes/qc.webp');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .qc_container{
    position: relative;
    z-index: +9;
  }
  .qc_container_card{
    background: #D3E0EB;
    margin-top: 20px;
    /* padding: 15px; */
    border-radius: 20px;
    .form-group{
      label.form-label{
        color: #001431;
        font-size: 16px;
        font-weight: 600;
      }
    }
    .btn-check:checked+.btn,
    :not(.btn-check)+.btn:active {
      color: #000;
      background-color: #ffffff;
      border: 1px solid #001123;
    }
    .qc_right_card{
      background: #ffffff;
      border: 1px solid #01458E;
      height: 100%;
      border-radius: 20px;
      padding-top: 25px;
      .hired_resources_{
        background: #EBF1F5;
        box-shadow: 0px 1.56px 0px 0px #FFFFFFCC inset;
        min-height: 125px;
        table{
          tr td{
            background-color: transparent;
            border: 0px !important;
          }
          button{
            background-color: transparent !important;
            border: 0px !important;
          }
        }
      }
      .budget_per_month{
        height: 50px;
        text-align: center;
        border-radius: 15px;
        border: 1px solid #01458E;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .freebies_card{
        border: 2px solid #EBF1F5;
        box-shadow: 0px 1.56px 0px 0px #FFFFFFCC inset;
        border-radius: 15px;
        padding: 15px;
        ul {
          padding-left: 10px;
          li{
            font-size: 12px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
.data_security_card{
  position: relative;
  padding-left: 30px;
  &::before{
    content: '';
    position: absolute;
    border: 1px solid #000000;
    border-radius: 40px;
    width: 100%;
    height: calc(100% - 100px);
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 0;
  }
}



.bdc_banner{
  background-image: linear-gradient(to right, rgb(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), 
  url('../images/bdc_bg.webp');
  background-position: center;
  background-size: cover;
  min-height: 500px;
  display: flex;
  align-items: center;
}
.ai_banner{
  background-image: linear-gradient(to right, rgb(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0)), 
  url('../images/AI/ai_banner.webp');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  display: flex;
  align-items: center;
}
.on_img_card{
  background: #EBF1F5;
  border: 5px solid #ffffff;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  margin-left: 0px;
  ul li{
    font-size: 16px;
    font-weight: 500;
  }
}

.what_clients_like_about{
  background-image: linear-gradient(to right, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0.788)), 
  url('../images/AI/w_c_l_a.webp');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  display: flex;
  align-items: center;
}
.start_card{
  background: #ffffff;
  height: 80px;
  box-shadow: 0px 4px 8.9px 0px #00458E4D;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.arrow_btn{
  box-shadow: 0px 4px 8.9px 0px #00458E4D;
  border: 5px solid #00458E;
  background: #FFFFFF;
  width: 100%;
  height: 70px;
  border-radius: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #01458E;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none !important;
  &:hover{
    background-color: #ebf1f5;
    color: #01458E;
  }
}
.iot_banner{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25) 40%, rgba(0, 0, 0, .25)), 
  url('../images/iot/banner_bg.webp');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  display: flex;
  align-items: center;
  .iot_banner_card{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: +1;
    padding: 20px;
    *{
      position: relative;
      z-index: +1;
    }
    &::before{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 20, 49, 0.502);
      backdrop-filter: blur(6px);
      left: 0;
      top: 0;
      border-radius: 30px;
    }
  }
}


.Lets_build_ur_project{
  position: relative;
  background-image: linear-gradient(to right, rgb(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0)), 
  url('../images/iot/Lets_build_ur_project.webp');
  background-position: right;
  background-size:  cover;
  background-repeat: no-repeat;
}
.discuss_project_modal{
  z-index: +99999;
  .modal-content{
    background-image: linear-gradient(to right, rgb(1, 69, 142, 0.5), rgba(1, 69, 142, 0.5)), 
    url('../images/handshake.webp');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    overflow: hidden;
    form{
      border-radius: 20px;
      background: rgba(0, 20, 49, 0.2);
      padding: 30px 20px;
    }
  }

  .btn_close{
    width: 35px;
    height: 35px;
    top: 3px;
    right: 3px;
    gap: 0px;
    background: rgba(255, 255, 255, 0.5);
    border: 0px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: +9;
  }
}

.thankyou_modal{
  .modal-content{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
    url('../images/banner.webp');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    overflow: hidden;
    form{
      border-radius: 20px;
      background: rgba(0, 20, 49, 0.2);
      padding: 30px 20px;
    }
  }
}

.apply_new_modal{
  z-index: +99999;
  .modal-content{
    background-color:#EBF1F5;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    overflow: hidden;
    form{
      border-radius: 20px;
      background: #01458E;
      padding: 30px 20px;
    }
  }

  .btn_close{
    width: 35px;
    height: 35px;
    top: 3px;
    right: 3px;
    gap: 0px;
    background: #FF492C;
    border: 0px solid #FF492C;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: +9;
  }
  .contact_details_list_card{
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
  }
  .upload_btn_wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block; 
    cursor: pointer; 
      .btn {
      border: 2px solid #ffffff;
      color: #01458E;
      background-color: #ffffff;
      padding: 8px 20px;
      border-radius: 15px;
      font-size: 1.4rem;
      font-weight: 600;
      cursor: pointer;
    }
  }
  

  
  .upload_btn_wrapper input[type=file] {
    /* font-size: 100px; */
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    height: 45px;
    width: 100%;
  }
}
.discuss_project_modal.need_help{
  .contact_details{
    position: relative;
    z-index: +1;
  }

  .modal-content::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 150%;
    background-color: rgba(255, 255, 255, 0.2);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
}


@media screen and (width < 992px) {
.scroll_horizontal_m_screen{
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  margin-bottom: 10px;
  ul{
    margin: 0 auto;
  }
}
}

.call_popup_modal{
  z-index: +99999;
  .modal-content{
    background-color: #EBF1F5;
    border-radius: 20px;
    padding: 15px;
    position: relative;
  }
  .btn_close{
    width: 35px;
    height: 35px;
    top: 3px;
    right: 3px;
    gap: 0px;
    background: rgba(255, 255, 255, 0.5);
    border: 0px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
  }
}


.outsource_projects_banner{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 40%, rgba(0, 20, 49, 0)),
  url('../images/outsource_projects/outsource_projects_bg.webp');
  background-position: right;
  background-size: cover;
  min-height: 500px;
  display: flex;
  align-items: center;
}
.why_outsource{
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0.9)),
  url('../images/outsource_projects/why_outsource_bg.webp');
  background-position: center;
  background-size: cover;
}

.white_label_partnership_banner{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 40%, rgba(0, 20, 49, 0)),
  url('../images/white_label_partnership/white_label_partnership_banner.webp');
  background-position: center;
  background-size: cover;
  min-height: 500px;
  display: flex;
  align-items: center;
}
.product_partnership_banner{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 40%, rgba(0, 20, 49, 0)),
  url('../images/product_partnership/product_partnership_banner.webp');
  background-position: center;
  background-size: cover;
  min-height: 500px;
  display: flex;
  align-items: center;
}


.error{
  font-size: 11px;
  color: red;
}


.careers_banner{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 20, 49, 0.0)), 
  url(../images/careers_banner.webp);
  background-position: center;
  background-size: cover;
  min-height: 500px;
  display: flex;
  align-items: center;
}
.job_openings{}